@using JoaCore
@using ElectronNET.API
@inherits LayoutComponentBase
@inject JoaSearch JoaSearch

<div class="searchBox">
    <svg class="searchBoxIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <g id="surface1">
          <path
              d="M 19 3 C 13.488281 3 9 7.488281 9 13 C 9 15.394531 9.839844 17.589844 11.25 19.3125 L 3.28125 27.28125 L 4.71875 28.71875 L 12.6875 20.75 C 14.410156 22.160156 16.605469 23 19 23 C 24.511719 23 29 18.511719 29 13 C 29 7.488281 24.511719 3 19 3 Z M 19 5 C 23.429688 5 27 8.570313 27 13 C 27 17.429688 23.429688 21 19 21 C 14.570313 21 11 17.429688 11 13 C 11 8.570313 14.570313 5 19 5 Z "></path>
      </g>
    </svg>
    <input class="searchBoxInput" type="search" @bind="_searchText" @onchange="OnSearchTextChanged" @onkeydown="@HandleKeyDown">
</div>
<div class="searchResults">
    @foreach (var searchResult in _searchResults)
    {
        <div class="searchResult">
            <div class="searchResultIcon"></div>
            <div class="searchResultCaption">@searchResult.SearchResult.Caption</div>
            <div class="searchResultDescription">@searchResult.SearchResult.Description</div>
        </div>
    }
</div>


@code
{
    private List<PluginSearchResult> _searchResults = new();
    private int _selectedSearchResult;
    private string _searchText = string.Empty;

    private async void HandleKeyDown(KeyboardEventArgs e)
    {
        switch (e.Code)
        {
            case "Enter" or "NumpadEnter":
                await ExecuteSearchResult();
                break;
            case "ArrowDown":
                ArrowDown();
                break;
            case "ArrowUp":
                ArrowUp();
                break;
        }
    }

    private async Task ExecuteSearchResult()
    {
        await JoaSearch.ExecuteCommand(_searchResults[_selectedSearchResult].CommandId, "Enter");
    }

    private void ArrowDown()
    {
        if (_selectedSearchResult < _searchResults.Count)
            _selectedSearchResult++;
    }

    private void ArrowUp()
    {
        if (_selectedSearchResult > 0)
            _selectedSearchResult--;
    }

    private async Task OnSearchTextChanged()
    {
        var res = await JoaSearch.GetSearchResults(_searchText);
        _searchResults = res.Take(8).ToList();
        Electron.WindowManager.BrowserWindows.First().SetSize(600, 60 + 50 * _searchResults.Count);
    }
}
