.searchBox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.searchBoxIcon{
    width: 28px;
    height: 28px;
    margin: 16px;
}

.searchBoxInput{
    overflow: hidden;
    width: 100%;
    height: 100%;
    appearance: none;
    font-size: 24px;
}

.searchResults{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.searchResultIcon{
    width: 50px;
}

.searchResultCaption{
    font-size: 17px;
}

.searchResultDescription{
    font-size: 12px;
    white-space: nowrap;
}