@using Joa.Injectables
@inject JoaManager JoaManager 

@if (_showSearch)
{
    <SearchComponent></SearchComponent>
}
else
{
    <p>Search not availablefd</p>
}

@code {
    private bool _showSearch = true;

    protected override void OnInitialized()
    {
        JoaManager.ShowUi = async () =>
        {
            await InvokeAsync(() =>
            {
                _showSearch = true;
                JoaLogger.GetInstance().Info("hiding ui");
                StateHasChanged();
            });
        };

        JoaManager.HideUi = async () =>
        {
            await InvokeAsync(() =>
            {
                _showSearch = false;
                JoaLogger.GetInstance().Info("hiding ui");
                StateHasChanged();
            });
        };

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JoaLogger.GetInstance().Info($"rerendered: show search: {_showSearch}");
        base.OnAfterRender(firstRender);
    }

    protected override void OnParametersSet()
    {
        JoaLogger.GetInstance().Info($"before rerender: show search: {_showSearch}");
        base.OnParametersSet();
    }

}