@using Joa.Injectables
@implements IDisposable

<button
    @onclick="OnClickAsync" class="text-[15px] text-white @Color px-[15px] h-[35px] rounded-[4px]">
    @Text
</button>

@code
{
    [Parameter]
    public string? Color { get; set; } = "bg-c-300";

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public Action? OnClick { get; set; }
    
    [Parameter]
    public Func<Task>? OnClickAsync { get; set; }

    protected override void OnInitialized()
    {
        OnClickAsync ??= () =>
        {
            OnClick?.Invoke();
            return Task.CompletedTask;
        };

        base.OnInitialized();
    }

    public void Dispose()
    {
        JoaLogger.GetInstance().Info("Disposing Button");
        Color = null;
        Text = null;
        OnClick = null;
        OnClickAsync = null;
    }
}
