@inject JoaManager JoaManager

@if (_showSettings)
{
    <SettingsComponent></SettingsComponent>
}
else
{
    <p>Search not availablefd</p>
}

@code
{
    private bool _showSettings = true;

    protected override async Task OnInitializedAsync()
    {
        JoaManager.ShowUi += async showUi =>
        {
            await InvokeAsync(() =>
            {
                _showSettings = showUi;
                StateHasChanged();
            });
        };
        
        await base.OnInitializedAsync();
    }
}
