<button class="w-full h-[40px] bg-transparent focus:bg-c-400 rounded-[4px] cursor-pointer text-left pl-[10px] text-white">
    @Text
</button>
@code {
    [Parameter]
    public string? Text { get; set; } 
}